build/
dist/
src/anysnake2.egg-info/
takea


# Added by cargo

/target

/result
examples/**/result
examples/**/code
examples/**/.anysnake2_flake
examples/**/venv
hello_flake
examples/flake_in_non_root_github/no-home/*
